body{
            background-color: rgb(248, 255, 238);
            display: flex;
            justify-content: center;
        }
        div{
            position: fixed;
            left: 0;
            top: 0;
            
            
        }
        
        a:link{
            display: block;
            background-color: rgb(253, 106, 65);
            width: 120px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #f7d96c;
            font-size: 32px;
            font-weight: bold;
            line-height: 68px; 
            }
            a:hover{
                background-color: #f7d96c;
                color:rgb(253, 106, 65) ;
            }
            bc{
                display: none;
                
            }
            .ad:hover bc{
                display: block;
                position: fixed;
                height: 100%;
                background-color: rgb(253, 106, 65);
                background-image: linear-gradient(to bottom right, rgb(253, 106, 65), rgb(255, 255, 108));
            }
            table{
                border-collapse: collapse;
                width: 88%;
                margin-top: 68px;
            }
            th{
                height: 60px;cursor:pointer
            }
            td{
                text-align: center;
                height: 40px;
                cursor:pointer
            }
            table,th,td{
                border: 1px solid #f7d96c;
                background-color: rgb(255, 255, 255);
            }
             th:hover, td:hover{
                background-color: #f7d96c;
                
            }